body {background-color: rgb(148, 143, 141);}
H1 {color: rgb(255, 255, 255); text-align: center;margin-top: 45px;padding-bottom: 45px;}
H5 {color: rgb(255, 255, 255); text-align: center; margin-top: 45px;padding-bottom: 45px;}
h6 {color: rgb(255, 255, 255); text-align: center; margin-top: 35px;padding-bottom: 20px;}